In [2]:
# Add dependencies
import glob
import pandas as pd

# Reading CitiTrip Ride History Data

In [4]:
# Reading CitiTrip Ride History Data
df1 = pd.read_csv('raw_data/CitiBikeTripHistories/201801-citibike-tripdata.csv')
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [6]:
df2 = pd.read_csv('raw_data/CitiBikeTripHistories/201802-citibike-tripdata.csv')
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,771,2018-02-01 00:14:16.4120,2018-02-01 00:27:08.2290,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,14536,Subscriber,1952,1
1,264,2018-02-01 05:14:45.1790,2018-02-01 05:19:09.6860,72,W 52 St & 11 Ave,40.767272,-73.993929,478,11 Ave & W 41 St,40.760301,-73.998842,32820,Subscriber,1965,1
2,819,2018-02-01 06:48:55.2290,2018-02-01 07:02:35.0290,72,W 52 St & 11 Ave,40.767272,-73.993929,405,Washington St & Gansevoort St,40.739323,-74.008119,16131,Subscriber,1968,1
3,646,2018-02-01 07:12:50.1740,2018-02-01 07:23:36.5280,72,W 52 St & 11 Ave,40.767272,-73.993929,2006,Central Park S & 6 Ave,40.765909,-73.976342,20831,Subscriber,1990,2
4,1312,2018-02-01 07:46:48.8750,2018-02-01 08:08:41.5430,72,W 52 St & 11 Ave,40.767272,-73.993929,435,W 21 St & 6 Ave,40.741740,-73.994156,15899,Subscriber,1957,1

In [7]:
df3 = pd.read_csv('raw_data/CitiBikeTripHistories/201803-citibike-tripdata.csv')
df3.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,816,2018-03-01 02:29:13.7270,2018-03-01 02:42:50.1460,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,31413,Subscriber,1973,1
1,235,2018-03-01 05:12:37.0320,2018-03-01 05:16:32.1010,72,W 52 St & 11 Ave,40.767272,-73.993929,478,11 Ave & W 41 St,40.760301,-73.998842,33202,Subscriber,1965,1
2,1250,2018-03-01 05:45:49.9000,2018-03-01 06:06:39.9080,72,W 52 St & 11 Ave,40.767272,-73.993929,3664,North Moore St & Greenwich St,40.720195,-74.010301,26675,Subscriber,1984,1
3,741,2018-03-01 06:54:19.6150,2018-03-01 07:06:40.9790,72,W 52 St & 11 Ave,40.767272,-73.993929,459,W 20 St & 11 Ave,40.746745,-74.007756,31011,Subscriber,1981,1
4,727,2018-03-01 07:08:38.8610,2018-03-01 07:20:46.8500,72,W 52 St & 11 Ave,40.767272,-73.993929,2006,Central Park S & 6 Ave,40.765909,-73.976342,30616,Subscriber,1990,2

In [8]:
df4 = pd.read_csv('raw_data/CitiBikeTripHistories/201804-citibike-tripdata.csv')
df4.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,840,2018-04-01 03:07:39.0700,2018-04-01 03:21:39.1280,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,31977,Subscriber,1973,1
1,1438,2018-04-01 07:20:02.2150,2018-04-01 07:44:00.5690,72,W 52 St & 11 Ave,40.767272,-73.993929,426,West St & Chambers St,40.717548,-74.013221,21403,Subscriber,1956,1
2,219,2018-04-01 08:11:14.4060,2018-04-01 08:14:53.7880,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,29081,Subscriber,1974,1
3,410,2018-04-01 08:52:32.3730,2018-04-01 08:59:23.2190,72,W 52 St & 11 Ave,40.767272,-73.993929,173,Broadway & W 49 St,40.760683,-73.984527,32130,Subscriber,1983,1
4,485,2018-04-01 09:37:34.3270,2018-04-01 09:45:39.9980,72,W 52 St & 11 Ave,40.767272,-73.993929,3159,W 67 St & Broadway,40.774925,-73.982666,30055,Subscriber,1978,1

In [9]:
df5 = pd.read_csv('raw_data/CitiBikeTripHistories/201805-citibike-tripdata.csv')
df5.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,367,2018-05-01 05:06:16.5840,2018-05-01 05:12:23.9650,72,W 52 St & 11 Ave,40.767272,-73.993929,514,12 Ave & W 40 St,40.760875,-74.002777,30567,Subscriber,1965,1
1,1313,2018-05-01 06:25:49.4250,2018-05-01 06:47:42.7120,72,W 52 St & 11 Ave,40.767272,-73.993929,426,West St & Chambers St,40.717548,-74.013221,18965,Subscriber,1956,1
2,1798,2018-05-01 06:40:26.4450,2018-05-01 07:10:25.1790,72,W 52 St & 11 Ave,40.767272,-73.993929,3435,Grand St & Elizabeth St,40.718822,-73.995960,30241,Subscriber,1959,2
3,518,2018-05-01 07:06:02.9730,2018-05-01 07:14:41.0040,72,W 52 St & 11 Ave,40.767272,-73.993929,477,W 41 St & 8 Ave,40.756405,-73.990026,28985,Subscriber,1986,1
4,109,2018-05-01 07:26:32.3450,2018-05-01 07:28:21.5420,72,W 52 St & 11 Ave,40.767272,-73.993929,530,11 Ave & W 59 St,40.771522,-73.990541,14556,Subscriber,1991,1

In [10]:
df6 = pd.read_csv('raw_data/CitiBikeTripHistories/201806-citibike-tripdata.csv')
df6.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,569,2018-06-01 01:57:20.5140,2018-06-01 02:06:50.0880,72,W 52 St & 11 Ave,40.767272,-73.993929,173,Broadway & W 49 St,40.760683,-73.984527,21481,Subscriber,1999,1
1,480,2018-06-01 02:02:42.3980,2018-06-01 02:10:43.3540,72,W 52 St & 11 Ave,40.767272,-73.993929,477,W 41 St & 8 Ave,40.756405,-73.990026,19123,Subscriber,1988,1
2,692,2018-06-01 02:04:23.6240,2018-06-01 02:15:55.7470,72,W 52 St & 11 Ave,40.767272,-73.993929,457,Broadway & W 58 St,40.766953,-73.981693,26983,Subscriber,1986,1
3,664,2018-06-01 03:00:55.4610,2018-06-01 03:11:59.9060,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,26742,Subscriber,1973,1
4,818,2018-06-01 06:04:54.4270,2018-06-01 06:18:32.6170,72,W 52 St & 11 Ave,40.767272,-73.993929,459,W 20 St & 11 Ave,40.746745,-74.007756,26386,Subscriber,1984,1

In [11]:
df7 = pd.read_csv('raw_data/CitiBikeTripHistories/201807-citibike-tripdata.csv')
df7.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,500,2018-07-01 00:33:51.2640,2018-07-01 00:42:12.0280,72,W 52 St & 11 Ave,40.767272,-73.993929,3236,W 42 St & Dyer Ave,40.758985,-73.993800,16583,Subscriber,1981,1
1,455,2018-07-01 02:06:54.0270,2018-07-01 02:14:29.0900,72,W 52 St & 11 Ave,40.767272,-73.993929,529,W 42 St & 8 Ave,40.757570,-73.990985,31481,Subscriber,1988,1
2,1080,2018-07-01 02:09:16.4640,2018-07-01 02:27:17.0290,72,W 52 St & 11 Ave,40.767272,-73.993929,453,W 22 St & 8 Ave,40.744751,-73.999154,25004,Subscriber,1982,2
3,632,2018-07-01 02:55:04.5870,2018-07-01 03:05:36.7910,72,W 52 St & 11 Ave,40.767272,-73.993929,465,Broadway & W 41 St,40.755136,-73.986580,25867,Subscriber,1986,1
4,1676,2018-07-01 03:24:27.4350,2018-07-01 03:52:23.7760,72,W 52 St & 11 Ave,40.767272,-73.993929,3425,2 Ave & E 104 St,40.789210,-73.943708,31351,Subscriber,1992,1

In [12]:
df8 = pd.read_csv('raw_data/CitiBikeTripHistories/201808-citibike-tripdata.csv')
df8.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,681,2018-08-01 00:00:07.3210,2018-08-01 00:11:28.9920,3162.0,W 78 St & Broadway,40.783400,-73.980931,3383.0,Cathedral Pkwy & Broadway,40.804213,-73.966991,27770,Subscriber,1986,1
1,625,2018-08-01 00:00:19.7480,2018-08-01 00:10:45.0290,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,2012.0,E 27 St & 1 Ave,40.739445,-73.976806,25938,Subscriber,1969,1
2,1319,2018-08-01 00:00:21.1750,2018-08-01 00:22:20.6370,403.0,E 2 St & 2 Ave,40.725029,-73.990697,285.0,Broadway & E 14 St,40.734546,-73.990741,28679,Subscriber,1970,1
3,220,2018-08-01 00:00:26.4700,2018-08-01 00:04:06.8190,3637.0,Fulton St & Waverly Ave,40.683239,-73.965996,399.0,Lafayette Ave & St James Pl,40.688515,-73.964763,28075,Subscriber,1982,1
4,398,2018-08-01 00:00:30.2910,2018-08-01 00:07:09.2810,3662.0,31 Ave & Steinway St,40.761294,-73.916917,3517.0,31 St & Hoyt Ave N,40.771153,-73.917007,25002,Subscriber,1987,1

In [13]:
df9 = pd.read_csv('raw_data/CitiBikeTripHistories/201809-citibike-tripdata.csv')
df9.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [14]:
citibike_2018 = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9])
citibike_2018.head(100)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,771,2018-02-01 00:14:16.4120,2018-02-01 00:27:08.2290,72.0,W 52 St & 11 Ave,40.767272,-73.993929,379.0,W 31 St & 7 Ave,40.749156,-73.991600,14536,Subscriber,1952,1
1,264,2018-02-01 05:14:45.1790,2018-02-01 05:19:09.6860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,478.0,11 Ave & W 41 St,40.760301,-73.998842,32820,Subscriber,1965,1
2,819,2018-02-01 06:48:55.2290,2018-02-01 07:02:35.0290,72.0,W 52 St & 11 Ave,40.767272,-73.993929,405.0,Washington St & Gansevoort St,40.739323,-74.008119,16131,Subscriber,1968,1
3,646,2018-02-01 07:12:50.1740,2018-02-01 07:23:36.5280,72.0,W 52 St & 11 Ave,40.767272,-73.993929,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,20831,Subscriber,1990,2
4,1312,2018-02-01 07:46:48.8750,2018-02-01 08:08:41.5430,72.0,W 52 St & 11 Ave,40.767272,-73.993929,435.0,W 21 St & 6 Ave,40.741740,-73.994156,15899,Subscriber,1957,1
5,435,2018-02-01 07:50:45.4490,2018-02-01 07:58:00.8360,72.0,W 52 St & 11 Ave,40.767272,-73.993929,173.0,Broadway & W 49 St,40.760683,-73.984527,19749,Subscriber,1983,1
6,289,2018-02-01 07:51:07.7240,2018-02-01 07:55:57.3360,72.0,W 52 St & 11 Ave,40.767272,-73.993929,514.0,12 Ave & W 40 St,40.760875,-74.002777,17412,Subscriber,1988,2
7,1454,2018-02-01 07:53:43.0620,2018-02-01 08:17:57.3330,72.0,W 52 St & 11 Ave,40.767272,-73.993929,426.0,West St & Chambers St,40.717548,-74.013221,17548,Subscriber,1988,1
8,639,2018-02-01 08:16:56.5200,2018-02-01 08:27:35.7080,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3173.0,Riverside Blvd & W 67 St,40.777507,-73.988886,18515,Subscriber,1988,1
9,530,2018-02-01 08:40:24.5540,2018-02-01 08:49:14.5940,72.0,W 52 St & 11 Ave,40.767272,-73.993929,458.0,11 Ave & W 27 St,40.751396,-74.005226,31050,Subscriber,1982,1
10,779,2018-02-01 08:53:27.2510,2018-02-01 09:06:27.0760,72.0,W 52 St & 11 Ave,40.767272,-73.993929,524.0,W 43 St & 6 Ave,40.755273,-73.983169,20522,Subscriber,1960,2
11,1167,2018-02-01 08:55:17.5330,2018-02-01 09:14:45.1670,72.0,W 52 St & 11 Ave,40.767272,-73.993929,496.0,E 16 St & 5 Ave,40.737262,-73.992390,32013,Subscriber,1959,1
12,1211,2018-02-01 08:59:40.0190,2018-02-01 09:19:51.4700,72.0,W 52 St & 11 Ave,40.767272,-73.993929,347.0,Greenwich St & W Houston St,40.728846,-74.008591,31524,Subscriber,1982,1
13,448,2018-02-01 09:10:39.4970,2018-02-01 09:18:07.9050,72.0,W 52 St & 11 Ave,40.767272,-73.993929,514.0,12 Ave & W 40 St,40.760875,-74.002777,30755,Subscriber,1990,1
14,529,2018-02-01 09:17:41.4010,2018-02-01 09:26:31.1250,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31657,Subscriber,1947,1
15,970,2018-02-01 09:19:46.6380,2018-02-01 09:35:57.1430,72.0,W 52 St & 11 Ave,40.767272,-73.993929,465.0,Broadway & W 41 St,40.755136,-73.986580,32613,Subscriber,1978,0
16,895,2018-02-01 09:36:52.1060,2018-02-01 09:51:47.3610,72.0,W 52 St & 11 Ave,40.767272,-73.993929,458.0,11 Ave & W 27 St,40.751396,-74.005226,31032,Subscriber,1984,2
17,916,2018-02-01 09:37:45.3410,2018-02-01 09:53:02.0790,72.0,W 52 St & 11 Ave,40.767272,-73.993929,405.0,Washington St & Gansevoort St,40.739323,-74.008119,31388,Subscriber,1961,1
18,653,2018-02-01 09:38:05.5610,2018-02-01 09:48:58.8190,72.0,W 52 St & 11 Ave,40.767272,-73.993929,440.0,E 45 St & 3 Ave,40.752554,-73.972826,31365,Subscriber,1988,1
19,387,2018-02-01 09:41:41.4220,2018-02-01 09:48:09.1970,72.0,W 52 St & 11 Ave,40.767272,-73.993929,495.0,W 47 St & 10 Ave,40.762699,-73.993012,30135,Subscriber,1956,2
20,711,2018-02-01 09:47:23.1880,2018-02-01 09:59:14.5040,72.0,W 52 St & 11 Ave,40.767272,-73.993929,458.0,11 Ave & W 27 St,40.751396,-74.005226,27978,Subscriber,1987,1
21,798,2018-02-01 09:47:56.7270,2018-02-01 10:01:15.4310,72.0,W 52 St & 11 Ave,40.767272,-73.993929,442.0,W 27 St & 7 Ave,40.746647,-73.993915,30538,Subscriber,1984,1
22,1101,2018-02-01 09:58:23.6830,2018-02-01 10:16:45.3810,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3462.0,E 44 St & 2 Ave,40.751184,-73.971387,18685,Subscriber,1980,1
23,868,2018-02-01 10:02:01.8680,2018-02-01 10:16:30.2020,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,20569,Subscriber,1984,2
24,2359,2018-02-01 10:36:18.8480,2018-02-01 11:15:38.0000,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3435.0,Grand St & Elizabeth St,40.718822,-73.995960,32217,Subscriber,1959,2
25,706,2018-02-01 10:45:50.9110,2018-02-01 10:57:37.4510,72.0,W 52 St & 11 Ave,40.767272,-73.993929,359.0,E 47 St & Park Ave,40.755103,-73.974987,17693,Subscriber,1992,1
26,675,2018-02-01 11:58:54.6860,2018-02-01 12:10:10.5380,72.0,W 52 St & 11 Ave,40.767272,-73.993929,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,26626,Subscriber,1991,1
27,264,2018-02-01 12:18:46.5980,2018-02-01 12:23:10.7380,72.0,W 52 St & 11 Ave,40.767272,-73.993929,423.0,W 54 St & 9 Ave,40.765849,-73.986905,16498,Subscriber,1994,2
28,436,2018-02-01 12:45:09.3660,2018-02-01 12:52:25.5210,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,30226,Subscriber,1966,2
29,556,2018-02-01 12:58:52.7850,2018-02-01 13:08:09.5440,72.0,W 52 St & 11 Ave,40.767272,-73.993929,500.0,Broadway & W 51 St,40.762288,-73.983362,30179,Subscriber,1969,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,777,2018-02-02 10:20:33.4080,2018-02-02 10:33:31.1560,72.0,W 52 St & 11 Ave,40.767272,-73.993929,446.0,W 24 St & 7 Ave,40.744876,-73.995299,32380,Subscriber,1968,1
71,703,2018-02-02 10:48:11.2190,2018-02-02 10:59:54.7100,72.0,W 52 St & 11 Ave,40.767272,-73.993929,359.0,E 47 St & Park Ave,40.755103,-73.974987,19178,Subscriber,1992,1
72,800,2018-02-02 11:53:51.7720,2018-02-02 12:07:12.4060,72.0,W 52 St & 11 Ave,40.767272,-73.993929,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,19033,Subscriber,1991,1
73,409,2018-02-02 12:41:45.5540,2018-02-02 12:48:34.9540,72.0,W 52 St & 11 Ave,40.767272,-73.993929,468.0,Broadway & W 56 St,40.765265,-73.981923,30048,Subscriber,1981,1
74,877,2018-02-02 13:37:17.5420,2018-02-02 13:51:54.5730,72.0,W 52 St & 11 Ave,40.767272,-73.993929,167.0,E 39 St & 3 Ave,40.748901,-73.976049,30472,Subscriber,1975,1
75,1265,2018-02-02 13:46:44.3260,2018-02-02 14:07:50.2200,72.0,W 52 St & 11 Ave,40.767272,-73.993929,405.0,Washington St & Gansevoort St,40.739323,-74.008119,19124,Subscriber,1948,2
76,816,2018-02-02 13:57:03.3880,2018-02-02 14:10:40.2380,72.0,W 52 St & 11 Ave,40.767272,-73.993929,72.0,W 52 St & 11 Ave,40.767272,-73.993929,32306,Subscriber,1960,1
77,319,2018-02-02 15:01:37.9910,2018-02-02 15:06:57.6960,72.0,W 52 St & 11 Ave,40.767272,-73.993929,514.0,12 Ave & W 40 St,40.760875,-74.002777,19801,Subscriber,1970,1
78,1574,2018-02-02 15:31:55.8670,2018-02-02 15:58:10.1810,72.0,W 52 St & 11 Ave,40.767272,-73.993929,490.0,8 Ave & W 33 St,40.751551,-73.993934,29907,Subscriber,1954,1
79,240,2018-02-02 15:38:58.8280,2018-02-02 15:42:59.0350,72.0,W 52 St & 11 Ave,40.767272,-73.993929,423.0,W 54 St & 9 Ave,40.765849,-73.986905,30429,Subscriber,1985,1
80,259,2018-02-02 16:00:09.7080,2018-02-02 16:04:29.2910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,478.0,11 Ave & W 41 St,40.760301,-73.998842,33057,Subscriber,1981,1
81,642,2018-02-02 16:12:49.8920,2018-02-02 16:23:31.9020,72.0,W 52 St & 11 Ave,40.767272,-73.993929,456.0,E 53 St & Madison Ave,40.759711,-73.974023,30471,Subscriber,1975,2
82,838,2018-02-02 16:26:58.6760,2018-02-02 16:40:57.6360,72.0,W 52 St & 11 Ave,40.767272,-73.993929,462.0,W 22 St & 10 Ave,40.746920,-74.004519,33029,Subscriber,1956,1
83,277,2018-02-02 16:37:47.3680,2018-02-02 16:42:24.8550,72.0,W 52 St & 11 Ave,40.767272,-73.993929,479.0,9 Ave & W 45 St,40.760193,-73.991255,27602,Subscriber,1973,1
84,456,2018-02-02 16:55:19.0080,2018-02-02 17:02:55.4260,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,32306,Subscriber,1962,1
85,598,2018-02-02 17:05:19.8580,2018-02-02 17:15:17.9400,72.0,W 52 St & 11 Ave,40.767272,-73.993929,484.0,W 44 St & 5 Ave,40.755003,-73.980144,16094,Subscriber,1977,1
86,174,2018-02-02 17:05:43.5630,2018-02-02 17:08:37.7510,72.0,W 52 St & 11 Ave,40.767272,-73.993929,508.0,W 46 St & 11 Ave,40.763414,-73.996674,20189,Subscriber,1961,1
87,481,2018-02-02 17:14:31.4020,2018-02-02 17:22:32.9710,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3635.0,W 36 St & 9 Ave,40.754623,-73.995168,21480,Subscriber,1981,1
88,900,2018-02-02 18:01:45.5450,2018-02-02 18:16:46.4040,72.0,W 52 St & 11 Ave,40.767272,-73.993929,494.0,W 26 St & 8 Ave,40.747348,-73.997236,24818,Subscriber,1969,2
89,305,2018-02-02 18:02:15.8730,2018-02-02 18:07:21.2540,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3236.0,W 42 St & Dyer Ave,40.758985,-73.993800,15028,Subscriber,1960,1
90,370,2018-02-02 18:09:12.7800,2018-02-02 18:15:23.7050,72.0,W 52 St & 11 Ave,40.767272,-73.993929,469.0,Broadway & W 53 St,40.763441,-73.982681,32691,Subscriber,1947,1
91,686,2018-02-02 18:51:34.0560,2018-02-02 19:03:00.4670,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3233.0,E 48 St & 5 Ave,40.757246,-73.978059,32243,Subscriber,1957,1
92,485,2018-02-02 19:04:32.6670,2018-02-02 19:12:37.6710,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3236.0,W 42 St & Dyer Ave,40.758985,-73.993800,30933,Subscriber,1946,1
93,605,2018-02-02 19:17:41.4180,2018-02-02 19:27:47.0900,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3635.0,W 36 St & 9 Ave,40.754623,-73.995168,26390,Subscriber,1969,1
94,1244,2018-02-02 20:37:08.8700,2018-02-02 20:57:53.6780,72.0,W 52 St & 11 Ave,40.767272,-73.993929,487.0,E 20 St & FDR Drive,40.733143,-73.975739,28838,Subscriber,1966,1
95,663,2018-02-02 22:34:37.5400,2018-02-02 22:45:41.0540,72.0,W 52 St & 11 Ave,40.767272,-73.993929,480.0,W 53 St & 10 Ave,40.766697,-73.990617,32709,Subscriber,1980,1
96,409,2018-02-03 06:51:15.9180,2018-02-03 06:58:05.5190,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,30649,Subscriber,1968,1
97,477,2018-02-03 08:09:40.9820,2018-02-03 08:17:38.4040,72.0,W 52 St & 11 Ave,40.767272,-73.993929,173.0,Broadway & W 49 St,40.760683,-73.984527,19603,Subscriber,1983,1
98,647,2018-02-03 08:59:17.0620,2018-02-03 09:10:04.5260,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3175.0,W 70 St & Amsterdam Ave,40.777480,-73.982886,16636,Subscriber,1966,2
99,2283,2018-02-03 10:12:06.6800,2018-02-03 10:50:09.9680,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3435.0,Grand St & Elizabeth St,40.718822,-73.995960,16636,Subscriber,1966,2

In [18]:
citibike_2018.to_csv('cleaned_data/citibiketrip_2018.csv', sep = ',')

# Reading CitiBike Membership Data

In [19]:
# Reading CitiBike Membership data
df10 = pd.read_csv('raw_data/CitiBikeDailyRidershipandMembershipData/1_jan_mar_2018.csv')
df10.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/2018,5499,11483,253490,123,7
1,1/2/2018,18818,39352,253558,125,12
2,1/3/2018,24299,42853,253591,164,4
3,1/4/2018,1922,5328,253604,2,1
4,1/5/2018,4972,14303,253614,14,0

In [20]:
df11 = pd.read_csv('raw_data/CitiBikeDailyRidershipandMembershipData/2_apr_jun_2018.csv')
df11.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,4/1/18,33148,94040,257811,2363,264
1,4/2/18,22062,50418,257889,297,20
2,4/3/18,25883,59477,257942,189,21
3,4/4/18,36755,80049,258025,611,48
4,4/5/18,39814,87382,258086,972,112

In [21]:
df12 = pd.read_csv('raw_data/CitiBikeDailyRidershipandMembershipData/3_jul_sep_2018.csv')
df12.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,7/1/18,45265,120484,274813,4209,211
1,7/2/18,58633,130122,275016,2702,241
2,7/3/18,54882,113998,275157,2358,199
3,7/4/18,48368,136287,275304,5662,250
4,7/5/18,59471,133659,275487,3344,264

In [22]:
citibike_membership_2018 = pd.concat([df10, df11, df12])
citibike_membership_2018.head(100)

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/2018,5499,11483,253490,123,7
1,1/2/2018,18818,39352,253558,125,12
2,1/3/2018,24299,42853,253591,164,4
3,1/4/2018,1922,5328,253604,2,1
4,1/5/2018,4972,14303,253614,14,0
5,1/6/2018,4294,9479,253624,9,2
6,1/7/2018,5640,9387,253640,41,4
7,1/8/2018,15820,31294,253661,45,4
8,1/9/2018,25090,50981,253690,112,17
9,1/10/2018,28252,50218,253720,142,18
10,1/11/2018,33961,66584,253757,244,15
11,1/12/2018,22252,46403,253786,152,16
12,1/13/2018,17758,30418,253809,355,31
13,1/14/2018,12394,32949,253827,183,9
14,1/15/2018,17637,41770,253857,150,8
15,1/16/2018,30278,60053,253895,189,13
16,1/17/2018,19010,36319,253921,52,12
17,1/18/2018,27662,52573,253952,92,18
18,1/19/2018,30525,50322,253983,216,15
19,1/20/2018,28507,59336,254025,1044,41
20,1/21/2018,27908,61571,254092,1013,26
21,1/22/2018,36864,68638,254144,345,25
22,1/23/2018,28796,63693,254191,179,19
23,1/24/2018,36078,69596,254236,232,32
24,1/25/2018,31147,51927,254263,181,16
25,1/26/2018,33073,61857,254301,313,23
26,1/27/2018,34348,70146,254368,1415,41
27,1/28/2018,20100,38221,254415,334,22
28,1/29/2018,36799,68868,254466,274,33
29,1/30/2018,27996,59260,254492,114,15
...,...,...,...,...,...,...
70,3/12/2018,36339,76569,256578,351,39
71,3/13/2018,23137,46021,256623,133,14
72,3/14/2018,35377,62352,256673,269,39
73,3/15/2018,39572,72192,256724,462,66
74,3/16/2018,34921,62381,256763,383,55
75,3/17/2018,27671,62524,256823,1015,56
76,3/18/2018,25158,55182,256880,839,36
77,3/19/2018,39278,83086,256933,544,39
78,3/20/2018,35532,69573,256986,187,17
79,3/21/2018,3755,11799,257004,3,1
80,3/22/2018,27308,61715,257040,216,25
81,3/23/2018,38527,77668,257098,543,55
82,3/24/2018,34396,79562,257167,1755,88
83,3/25/2018,25562,62656,257226,710,24
84,3/26/2018,40295,88831,257315,718,87
85,3/27/2018,41354,88986,257378,524,63
86,3/28/2018,41880,80607,257447,586,64
87,3/29/2018,39288,84590,257501,544,65
88,3/30/2018,34784,78825,257584,1006,147
89,3/31/2018,41779,109399,257701,3856,151
0,4/1/18,33148,94040,257811,2363,264
1,4/2/18,22062,50418,257889,297,20
2,4/3/18,25883,59477,257942,189,21
3,4/4/18,36755,80049,258025,611,48
4,4/5/18,39814,87382,258086,972,112
5,4/6/18,35624,83643,258143,918,101
6,4/7/18,33245,79955,258231,1661,129
7,4/8/18,28410,67056,258324,1271,75
8,4/9/18,40509,87612,258423,614,62
9,4/10/18,43051,89629,258498,475,37

In [23]:
citibike_membership_2018.to_csv('cleaned_data/citibike_membership_2018.csv', sep = ',')